nav {

  display: flex;
  justify-content: space-between;
  height: 120px;
  min-width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;

}

nav span {

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0em 1.5em 1.5em 1.5em;
  font-family:'Bungee', cursive;

}

.nav-right {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 1.5em 1.5em 1.5em;
  font-family: 'Source Sans Pro', sans-serif;

}

.nav-right i {

  color: red;

}