nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  min-width: 100%;
  background-color: lightgray;
  color: black;
  position: sticky;
  top: 0;
}

nav .tweeter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family:'Bungee', cursive;
  margin: 0.5em;
}

nav .nav-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0.5em;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
}

nav .nav-right i {
  color: red;
  padding: 0.2em;
}