.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4056a1;
  height: 160px;
  min-width: 100%;
  border-style: solid;
  border-color: black;
  font-family:'Bungee', cursive;
  margin: 1.5em;

}


/* #logo {
  font-family: ;
}

#new-tweet {
  font-family: ;
} */