.new-tweet {
  width: 90%;
  padding: 1em;
}

.new-tweet textarea {
  border: none;
  background-color: inherit;
  background-color: #f4f1ec;
  resize: none;
  outline: none;
}

.new-tweet button {
  font-family:'Bungee', cursive;
  color: #FFFFFF;
  background-color: #4056a1;
  border-style: none;
}

.new-tweet .button-properties {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
  border-style: solid hidden hidden hidden;
  padding-top: .3em;
  
}

.new-tweet ::placeholder {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

